.footer-container {
  background-color: #0f172a;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-logo-container {
  display: flex;
  align-items: center;
}
.footer-logo-image {
  margin-right: 10px;
}
.footer-website-name {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 48px;
  color: #ffffff;
}
.footer-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
  width: 90%;
}
.social-media-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-bottom: 20px;
}
.social-icon {
  height: 30px;
  width: 30px;
  color: #ffffff;
}
