.cart-summary {
  width: 90%;
  display: flex;
  flex-direction: column;
  border-top: 1px dashed #cbd2d9;
}

.cart-summary-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.place-order-button {
  width: 99px;
  height: 32px;
  background: #f7931e;
  border-radius: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: flex-end;
}
.order-total-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  color: #3e4c59;
}
@media screen and (min-width: 768px) {
  .order-total-heading {
    font-size: 25px;
  }
}
.order-total-value {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #3e4c59;
}
@media screen and (min-width: 768px) {
  .order-total-value {
    font-size: 25px;
  }
}
